<a href="/user">Go Back</a>
    
    <h3>Update Details</h3>
    <form name="" action="/update/{{user.id}}" method="POST">
    	<input type="text" name="username" value="{{user.name}}">
    	<input type="text" name="cityname" value="{{user.city}}">
    	<input type="text" name="occupationname" value="{{user.occupation}}">
    	<input type="submit" value="Update">
    </form>
</div>
